@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playfair+Display&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  /* dark shades of primary color*/
  --clr-1: #242582;
  --clr-2: #553D68;
  --clr-3: #F64C72;
  --clr-4: #99738E;
  --clr-5: #2F2FA2;
  --clr-6: #eeeeee;
  --clr-7: #3234b8;
}
body{
  background-attachment: fixed;
  /* background-image: linear-gradient(45deg, #0b0c0f  , #2f2455); */
  background-color: white;
  color: white;
  font-family: 'Lexend Deca', sans-serif;
}

/*TITLE======================================*/
.main-title-container{
  background-image: linear-gradient(90deg, #0b0c0f  , #2f2455);
  text-align: center;
  background-color: var(--clr-5);
  padding: 20px;
  font-size: x-large;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 10px #00000044;

}

.line{
  margin-left: auto;  
  margin-right: auto;  
  border-radius: 50px;
  background-color: white;
  width: 80vw;
  height: 1px;

}
/*TITLE======================================*/

.main-container{
  /* background-image: linear-gradient(90deg, #0b0c0f  , #2f2455); */
  background-color: var(--clr-6);
  border-radius: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 40px #00000044;

}


/*SEARCH AND FORMS==========================*/
.search-container{
  position: relative;
  padding-top: 20px;
}

form{
  margin: 20px;
}

input{
  background-color: white;
  box-shadow: 2px 2px 8px #00000044;
  color: rgb(56, 56, 56);
  padding: 5px 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: none;
  width: 300px;
  height: 30px;
  border-radius: 12px;

}
.btn{
  position: relative;
  background-color: var(--clr-3);
  color: var(--clr-6);
  font-weight: bold;
  padding: 5px 10px;
  width: 100px;
  height: 30px;
  margin: 0 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: ease 200ms;
} 
.btn:hover{
  background-color: #fa1f4e;
}
/*SEARCH AND FORMS==========================*/

/*DATA ====================================*/
.data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content:space-evenly;

}
.card-container{
  text-align: center;
  background-color: white;
  color: black;
  margin: 10px;
  width: 350px;
  top: 10px;
  bottom: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #00000044;
  border-radius: 12px;
  padding: 10px;
}

.image-container{
  /* border: solid 1px red; */
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.image{
  position: relative;
    object-fit: contain;
    width: 300px;
    border-radius: 8px;
}

.title{
  font-family: 'Lexend Deca', sans-serif;
  padding: 5px;
  margin: 5px;
}

.date{
  padding: 5px;
  margin: 5px;
  font-weight: lighter;
}

.info{
  font-family: 'Playfair Display', serif;
  text-align: justify;
  padding: 5px;
  margin: 5px;
}

.see-more{
  background-color: var(--clr-3);
  color: var(--clr-6); 
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  width: 300px;
  height: 35px;
  border-radius: 12px;
  transition: ease 200ms;
  cursor: pointer;
}

.see-more:hover{
  background-color: #fa1f4e;
}

/*DATA ====================================*/

.main-footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(90deg, #0b0c0f  , #2f2455);
  text-align: center;
  background-color: var(--clr-5);
  padding: 20px;
  /* font-size: x-large; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 5px 5px 10px #00000044;

}